
/* .shopping-container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}

header .shopping-cart{
    position: relative;
    text-align: right;
}

header .shopping-cart img{
    width: 40px;
} */

header .shopping-cart span{
    /* background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px; */
}

.product-list{
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px; */
}

.product-list .product-item{
    /* text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px; */
}

.product-list .product-item img{
    /* width: 90%;
    height: 430px;
    object-fit: cover; */
}

.product-list .product-item .product-title{
    /* font-weight: 600; */
}

.product-list .product-item .product-price{
    /* margin: 10px; */
}

.product-list .product-item .wolfshit{
    /* background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px; */
}
/* .px-2 {
    display: inline-block;
}
.product-item {
    margin: auto;
} */
.product-list {
    display: flex;
    flex-wrap: wrap;
}
.product-list .product-item {
    flex: 1 0 25%;
    /* max-width: 25%; */
}
#mhmodmaamri {
    width: 100%;
}
#product_1_show {
        /* display: flex; */
        left: 0;
        right: 0;
        /* top: 25vh; */
        position: fixed;
        z-index: 1030;
        flex-shrink: 0;
        top: 25%;
        /* stroke-linecap: butt; */
        bottom: 0;
        width: 1000px;
}


.cart{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: var(--bs-accent);
    height: 100vh;
    transition: 0.5s;

    z-index: 1030;
    flex-shrink: 0;
}

.active .cart{
    left: calc(100% - 500px);
}

.active .shopping-container{
   transform: translateX(-200px);
}

.cart h1{
    color: #E8BC0E;
    font-weight: 500;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    /* display: flex; */
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.cart .checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart .checkout div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.cart .checkout div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}

.cart-list li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
    padding: 10px;
}

.cart-list li div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-list li img{
    width: 90%;
}

.cart-list li button{
    background-color: #fff5;
    border: none;
}

.cart-list .count{
    margin: 0 10px;
}

.product-list .product-item .product-title {
    height: 50px;
}
@media screen and (min-width:700px) {
    .product-list .product-item {
        max-width: 25%;
    }
}

@media screen and (max-width:1000px){
    .cart{
        width: 100%;
        left: 100%;

    }
    .active .cart {
        left: calc(100% - 100%);
    }
    #product_1_show {
        width: 100%;
        height: 100vh;
        top: 30px;
    }
}



.part_1 {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    display: inline;
  }
  
  .part_1::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
  }
  
  .part_1::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
  }
  
  .part_1:hover::before, .part_1:hover::after {
    transform: scale(0)
  }
  
  .part_1:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }

  .clearwolf {
    width: 100%;
    background-color: #e7e7e8;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: gray;
    margin-top: 50px;
    margin-bottom: 50px;
  }


  .wolfshit {
    position: relative;
    padding: 15px 45px;
    background: #cf3636;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    cursor: pointer;
    border: 1px solid #fec195;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .wolfshit:hover {
    border: 1px solid #f3b182;
    background: linear-gradient(
      85deg,
      #b72f2f,
      #cf3636,
      #cf3636,
      #cf3636,
      #cf3636
    );
    animation: wind 2s ease-in-out infinite;
  }
  
  @keyframes wind {
    0% {
      background-position: 0% 50%;
    }
  
    0% {
      background-position: 50% 100%;
    }
  
    0% {
      background-position: 0% 50%;
    }
  }
  
  .icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
  }
  
  .wolfshit:hover .icon-1 {
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
  }
  
  @keyframes slay-1 {
    0% {
      transform: rotate(10deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(10deg);
    }
  }
  
  .icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
  }
  
  .wolfshit:hover .icon-2 {
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-2 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(15deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }
  
  .icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
  }
  
  .wolfshit:hover .icon-3 {
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-3 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }
  


  @media screen and (max-width:700px) {
     .wolfshit {
        width: 100%;
        display: block;
        margin: auto;
        margin: 10px;

     }
     #hideme {
        display: none;
     }
  }